//This file contains all shared variables like colors, font sizes etc.

// Variables
// Palette
$color-black: #000;
$color-gray-darker: #2d2d2d;
$color-gray-dark: #7c7575;
$color-gray: #999;
$color-gray-light: #e6e6e6;
$color-gray-lighter: #fffef4;
$color-gray-base: #ccc;
$color-white-darker: #e5e5e5;
$color-white: #fff;
$color-red: #f84d4f;
$color-blue-dark: #403a6a;
$color-blue-darker: #383354;

$color-primary-darker: #2d2d2d;
$color-primary-dark: #7c7575;
$color-primary: #999;
$color-primary-light: #e6e6e6;
$color-primary-lighter: #fafafa;

$color-secondary: blue;
$color-shade-amount: 20;
$color-trans-amount: 0.8;
$color-secondary-dark: darken($color-secondary, $color-shade-amount);
$color-secondary-light: lighten($color-secondary, $color-shade-amount);
$color-secondary-trans: transparentize($color-secondary, $color-trans-amount);

$color-success: #6acb00;
$color-error: #ed1a3b;
$color-warning: #ffb11f;

$color-button-blue: #297fca;
$color-button-green: #00b21e;


// Bootstrap reboot
$enable-hover-media-query: false;

$headings-margin-bottom: 8px;
$font-family-base: -apple-system, BlinkMacSystemFont, sans-serif;
$font-family-secondary: 'proxima-nova-extra-condensed', Arial, sans-serif;
$font-size-base: 16px; // Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-weight-base: normal;
$line-height-base: $font-size-base;
$dt-font-weight: $font-weight-base;

$body-color: $color-black;
$body-bg: $color-white;
$text-muted: $color-gray-light;

$link-color: $color-secondary;
$link-decoration: none;
$link-hover-color: $link-color;
$link-hover-decoration: none;

$table-cell-padding: 0;
$paragraph-margin-bottom: 0;
$yiq-contrasted-threshold: 150 !default;
$yiq-text-dark: $color-primary !default;
$yiq-text-light: $color-white !default;
$enable-rounded: true;
$btn-focus-width: 2px;
$enable-shadows: false;
$btn-active-box-shadow: inset 0 3px 5px rgba($color-black, .125);
$btn-box-shadow: inset 0 1px 0 rgba($color-white, .15), 0 1px 1px rgba($color-black, .075);

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

// Grid
$grid-columns: 12;
$grid-fluid: false;
$grid-gutter-width: 30px;
$grid-gutter-widths: (
  xs: 20px,
  sm: 20px,
  md: 20px,
  lg: 30px,
  xl: 30px,
  xxl: 30px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Positioning
$z-indexes: (
  'modal',
  'intercom',
  'tooltip',
  'body',
);

// Spacing
$spacing-sizes: (
  0: 0,
  1: 5px,
  2: 10px,
  3: 15px,
  4: 20px,
  5: 25px,
  6: 30px,
  7: 35px,
  8: 40px,
  9: 45px,
  10: 50px,
);
$spacing-important: false;

// Typography
$typography: (
  base: (
    base: (
      font-family: $font-family-base,
      font-size: $font-size-base,
      font-weight: 400,
      line-height: 30px,
    )
  ),
  sm: (
    base: (
      font-family: $font-family-base,
      font-size: 16px,
      font-weight: 300,
      line-height: 36px,
    ),
  ),
  xs: (
    base: (
      font-family: $font-family-base,
      font-size: 12px,
      font-weight: 400,
      line-height: 24px,
    ),
  ),
  h1: (
    base: (
      font-family: $font-family-secondary,
      font-size: 80px,
      font-weight: 500,
      line-height: 80px,
      text-transform: uppercase,
    ),
    lg: (
      font-size: 60px,
      line-height: 60px,
    ),
    sm: (
      font-size: 40px,
      line-height: 40px,
    ),
  ),
  h2: (
    base: (
      font-family: $font-family-secondary,
      font-size: 50px,
      line-height: 55px,
      font-weight: 300,
      text-transform: uppercase,
    ),
    md: (
      font-size: 40px,
      line-height: 44px,
    )
  ),
  h3: (
    base: (
      font-family: $font-family-secondary,
      font-size: 46px,
      line-height: 50px,
      font-weight: 500,
      text-transform: uppercase,
    ),
    lg: (
      font-size: 40px,
      line-height: 44px,
    ),
    md: (
      font-size: 30px,
      line-height: 33px,
    )
  ),
  h4: (
    base: (
      font-family: $font-family-secondary,
      font-size: 36px,
      line-height: 40px,
      font-weight: 500,
      letter-spacing: 1px,
      text-transform: uppercase,
    ),
    md: (
      font-size: 30px,
      line-height: 33px,
    )
  ),
  h5: (
    base: (
      font-family: $font-family-base,
      font-size: 18px,
      font-weight: 700,
      line-height: 28px,
      text-transform: capitalize,
    )
  ),
  h6: (
    base: (
      font-family: $font-family-base,
      font-size: 24px,
      font-weight: 300,
      line-height: 42px,
    ),
  ),
  btn: (
    base: (
      font-family: $font-family-base,
      font-size: 18px,
      font-weight: 500,
    ),
  ),
  nav: (
    base: (
      font-family: $font-family-secondary,
      font-size: 20px,
      font-weight: 500,
    ),
  ),
  form: (
    base: (
      font-family: $font-family-base,
      font-size: 12px,
      line-height: 14px,
      font-weight: 400,
    ),
    sm: (
      font-size: 16px,
      line-height: 16px,
    )
  ),
);
